<nav class="navbar navbar-expand-lg navbar-dark bg-primary px-3">

    <!-- Logo -->
    <a class="navbar-brand fw-bold" href="#">MyApp</a>

    <!-- Toggle (mobile) -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Right Side -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarContent">

        <ul class="navbar-nav align-items-center gap-3">

            <!-- User Info -->
            <li class="nav-item">
                <div class="text-white cursor-pointer" >
                    <i class="bi bi-person-circle me-1"></i>
                    prince
                    <!-- {{ user.name }} ({{ user.role }}) -->
                </div>
            </li>

            <!-- Logout -->
            <li class="nav-item">
                <button class="btn btn-light btn-sm" >
                    Logout
                </button>
            </li>

        </ul>

    </div>
</nav>

<router-outlet></router-outlet>